<?xml version='1.0' encoding='UTF-8'?>
<plugin id="com.poly.relnotes">
 <require plugin="org.dita.pdf2"/>
 <feature extension="dita.conductor.transtype.check" value="polypdfrn"/>
 <feature extension="dita.transtype.print" value="polypdfrn"/>
 <feature extension="dita.conductor.target.relative" file="integrator.xml"/>
 <feature extension="dita.xsl.strings" file="strings/strings.xml"/>
</plugin>
